Formacion/Kata1/bin/Debug/Kata1.dll
Formacion/Kata1/bin/Debug/Kata1.dll.config
Formacion/Kata1/bin/Debug/Kata1.pdb
Formacion/Kata1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Formacion/Kata1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Formacion/Kata1/obj/Debug/Kata1.csproj.FileListAbsolute.txt
Formacion/Kata1/obj/Debug/Kata1.csproj.GenerateResource.cache
Formacion/Kata1/obj/Debug/Kata1.csprojAssemblyReference.cache
Formacion/Kata1/obj/Debug/Kata1.dll
Formacion/Kata1/obj/Debug/Kata1.pdb
Formacion/Kata1/obj/Debug/Kata1.Properties.Resources.resources
Formacion/Kata1/obj/Debug/Katas.csproj.FileListAbsolute.txt
Formacion/Kata1/obj/Debug/Katas.csproj.GenerateResource.cache
Formacion/Kata1/obj/Debug/Katas.csprojAssemblyReference.cache
Formacion/test/bin/Debug/netcoreapp2.2/Kata1.dll
Formacion/test/bin/Debug/netcoreapp2.2/Kata1.dll.config
Formacion/test/bin/Debug/netcoreapp2.2/Kata1.pdb
Formacion/test/bin/Debug/netcoreapp2.2/nunit.engine.api.dll
Formacion/test/bin/Debug/netcoreapp2.2/nunit.engine.core.dll
Formacion/test/bin/Debug/netcoreapp2.2/nunit.engine.dll
Formacion/test/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
Formacion/test/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
Formacion/test/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
Formacion/test/bin/Debug/netcoreapp2.2/test.deps.json
Formacion/test/bin/Debug/netcoreapp2.2/test.dll
Formacion/test/bin/Debug/netcoreapp2.2/test.pdb
Formacion/test/bin/Debug/netcoreapp2.2/test.runtimeconfig.dev.json
Formacion/test/bin/Debug/netcoreapp2.2/test.runtimeconfig.json
Formacion/test/bin/Debug/netcoreapp2.2/testhost.dll
Formacion/test/bin/Debug/netcoreapp2.2/testhost.exe
Formacion/test/bin/Debug/netcoreapp3.1/FluentAssertions.dll
Formacion/test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
Formacion/test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
Formacion/test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
Formacion/test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
Formacion/test/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
Formacion/test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
Formacion/test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
Formacion/test/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
Formacion/test/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Formacion/test/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
Formacion/test/bin/Debug/netcoreapp3.1/nunit.framework.dll
Formacion/test/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
Formacion/test/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
Formacion/test/bin/Debug/netcoreapp3.1/test.deps.json
Formacion/test/bin/Debug/netcoreapp3.1/test.dll
Formacion/test/bin/Debug/netcoreapp3.1/test.pdb
Formacion/test/bin/Debug/netcoreapp3.1/test.runtimeconfig.dev.json
Formacion/test/bin/Debug/netcoreapp3.1/test.runtimeconfig.json
Formacion/test/bin/Debug/netcoreapp3.1/testhost.dll
Formacion/test/bin/Debug/netcoreapp3.1/testhost.exe
Formacion/test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Formacion/test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Formacion/test/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Formacion/test/obj/project.assets.json
Formacion/test/obj/test.csproj.nuget.cache
Formacion/test/obj/test.csproj.nuget.dgspec.json
Formacion/test/obj/test.csproj.nuget.g.props
Formacion/test/obj/test.csproj.nuget.g.targets
Formacion/test/obj/Debug/netcoreapp2.2/test.AssemblyInfo.cs
Formacion/test/obj/Debug/netcoreapp2.2/test.AssemblyInfoInputs.cache
Formacion/test/obj/Debug/netcoreapp2.2/test.assets.cache
Formacion/test/obj/Debug/netcoreapp2.2/test.csproj.CopyComplete
Formacion/test/obj/Debug/netcoreapp2.2/test.csproj.FileListAbsolute.txt
Formacion/test/obj/Debug/netcoreapp2.2/test.csprojAssemblyReference.cache
Formacion/test/obj/Debug/netcoreapp2.2/test.dll
Formacion/test/obj/Debug/netcoreapp2.2/test.genruntimeconfig.cache
Formacion/test/obj/Debug/netcoreapp2.2/test.pdb
Formacion/test/obj/Debug/netcoreapp3.1/test.AssemblyInfo.cs
Formacion/test/obj/Debug/netcoreapp3.1/test.AssemblyInfoInputs.cache
Formacion/test/obj/Debug/netcoreapp3.1/test.assets.cache
Formacion/test/obj/Debug/netcoreapp3.1/test.csproj.CopyComplete
Formacion/test/obj/Debug/netcoreapp3.1/test.csproj.FileListAbsolute.txt
Formacion/test/obj/Debug/netcoreapp3.1/test.csprojAssemblyReference.cache
Formacion/test/obj/Debug/netcoreapp3.1/test.dll
Formacion/test/obj/Debug/netcoreapp3.1/test.genruntimeconfig.cache
Formacion/test/obj/Debug/netcoreapp3.1/test.pdb
Formacion/.vs/Formacion/v16/.suo
Formacion/.vs/Formacion/v16/Server/sqlite3/db.lock
Formacion/.vs/Formacion/v16/Server/sqlite3/storage.ide
Formacion/.vs/Formacion/v16/TestStore/0/000-0000.testlog
Formacion/.vs/Formacion/v16/TestStore/0/testlog.manifest
Formacion/Application/bin/Debug/Application.exe
Formacion/Application/bin/Debug/Application.exe.config
Formacion/Application/bin/Debug/Application.pdb
Formacion/Application/bin/Debug/Kata1.dll
Formacion/Application/bin/Debug/Kata1.dll.config
Formacion/Application/bin/Debug/Kata1.pdb
Formacion/Application/obj/Debug/Application.csproj.CopyComplete
Formacion/Application/obj/Debug/Application.csproj.FileListAbsolute.txt
Formacion/Application/obj/Debug/Application.csproj.GenerateResource.cache
Formacion/Application/obj/Debug/Application.csprojAssemblyReference.cache
Formacion/Application/obj/Debug/Application.exe
Formacion/Application/obj/Debug/Application.pdb
Formacion/Application/obj/Debug/Application.Properties.Resources.resources
Formacion/Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Formacion/Application/obj/Debug/Kata1.Forms.FrmSeasons.resources
Formacion/.vs/Formacion/v16/Server/sqlite3/storage.ide-shm
Formacion/.vs/Formacion/v16/Server/sqlite3/storage.ide-wal
